* {
	padding: 0;
	margin: 0;
}
.margin-btm-30px {
	margin-bottom: 30px;
}
.margin-btm-50px {
	margin-bottom: 50px;
}
.padding-15px {
	padding: 15px 0px;
}
.padding-50px {
	padding: 50px 0px;
}
.margin-btm-80px {
	margin-bottom: 75px;
}
.margin-left-30px {
	margin-left: 30px;
}
.margin-right-30px {
    margin-right: 30px;
}
.margin-top-50px {
	margin-top: 50px;
}
h1 {
	color: #800080;
	font-weight: 350;
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	color: #7D44AA;
	font-weight: 350;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
h5 {
	color: #7D44AA;
	font-weight: 500;
	font-size: 20px;
}
p {
	color: #800080;
	font-size: 15px;
}
.row-wrapper {
	padding: 50px 0px;
}
.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1; 
	min-height: 100px;
	overflow: hidden;
}
#return-to-top {
	position: fixed;
	bottom: 15px;
	right: 20px;
	background-image: url("../images/return-to-top.png");
	width: 46px;
	height: 46px;
	text-decoration: none;
	border: none;
	outline: none;
	z-index: 1;
}
#return-to-top:focus, #return-to-top:hover {
	background-image: url("../images/return-to-top-hover.png");
	width: 46px;
	height: 46px;
	border: none;
	outline: none;
	cursor: pointer;
}
.items {
	padding: 0px 20px;
}
.items:hover {
	border-bottom: 2px solid #800080;
}
.purple-txt {
	font-weight: 600;
	color: #800080 !important;
}
.bg-image {
	margin-top: 80px;
	height: 650px;
	background-image: url("../images/slider/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#benefiting-with-oowl {
	padding: 50px 0px;
}
.hr {
	margin: 0 auto;
	width: 80px;
	height: 4px;
	background-color: #800080;
	margin-top: 30px;
}
.features {
	padding: 15% 10% 10px 10% !important;
}
.icon {
	color: #7D44AA;
	border: 2px solid #7D44AA;
	width: 75px;
	height: 75px;
	line-height: 68px;
	border-radius: 8px;
	font-size: 25px;
	float: left;
	margin-right: 25px;
}
.icon i {
	color: #7D44AA;
	margin-left: 25px;
}
.content {
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}
.vid-wrapper1 {
	width: 85%;
	height: 400px;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	border-radius: 10px;
	border: 10px solid rgb(229, 228, 226);
}
.vid-wrapper2 {
	width: 85%;
	height: 400px;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
    border-radius: 10px;
	border: 10px solid rgb(229, 228, 226);
}
#benefits-as-an-oowl {
    background-color: rgb(245,245,245);
}
.contents {
	display: table-cell;
	height: auto;
	width: 75%;
	float: left;
	text-align: right;
}
.icons {
	color: #7D44AA;
	border: 2px solid #7D44AA;
	width: 75px;
	height: 75px;
	line-height: 68px;
	border-radius: 8px;
	font-size: 25px;
	float: right;
	margin-left: 25px;
}
.icons i {
	color: #7D44AA;
	margin-left: 25px;
}
.add-photo {
	height: 85px;
	width: 85px;
	margin: 0 auto; 
	border-radius: 50%;
	border: 2px solid rgb(169, 169, 169);
	overflow: hidden;
}
.add {
	font-size: 15px;
	font-weight: 600;
}
.border {
	border-radius: 5px;
	border: 1px solid #7D44AA !important;
}
#category {
	width: 94%;
	border: none;
}
.buttons {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn1 {
	width: 15%;
	height: 40px;
	font-size: 18px;
	background-color: #7D44AA !important;
	font-weight: 600;
}
.btn2 {
	width: 30%;
	height: 40px;
	font-size: 18px;
	background-color: #7D44AA !important;
	font-weight: 600;
}
#pricing {
	background-color: rgb(245,245,245);
}
.price-head {
	background-color: #7D44AA !important;
	opacity: 0.8;
}
.price-head button {
	background-color: #7D44AA;
	opacity: 0.8;
    color: #FFF !important;
    font-size: 15px;
}
.title {
	background-color: #7D44AA;
	opacity: 0.9;
	padding: 15px 0px;
	border-radius: 20px;
	color: #FFF; 
}
#download {
	height: 700px;
	background-image: url("../images/slider/3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#download h1 {
	color: #FFF;
	font-weight: 350;
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
}
.hr1 {
	margin: 0 auto;
	width: 80px;
	height: 4px;
	background-color: #FFF;
	margin-top: 30px;
}
.img1 {
	float: right;
}
.img2 {
	float: left;
}
.img3 {
	height: 250px;
	width: 100%;
}
.img4 {
	position: absolute;
	bottom: 3px;
	float: right;
}
.span {
	padding-left: 20px;
}
#footer {
	padding: 10px 0px;
	background-color: #7D44AA; 
}
#footer p {
	color: #FFF;
	margin-top: 4px;
}
